<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins">
        <setEntry value="org.apache.felix.scr:2.2.4:default:true:2:true"/>
        <setEntry value="org.eclipse.core.runtime:3.26.100.v20221021-0005:default:true:default:true"/>
        <setEntry value="org.eclipse.equinox.common:3.17.0.v20221108-1156:default:true:2:true"/>
        <setEntry value="org.eclipse.equinox.event:1.6.100.v20211021-1418:default:true:2:true"/>
    </setAttribute>
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="de.regasus.app.main.application"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticIncludeRequirements" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/main.product (en)"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-main.product"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="login.host" value="https://demo2.regasus.de"/>
        <mapEntry key="login.password" value="Boyadjiev"/>
        <mapEntry key="login.userName" value="sferyx"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl en -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="de.regasus.app.main.product"/>
    <stringAttribute key="productFile" value="/de.regasus.app.main.product/main.product"/>
    <setAttribute key="selected_features">
        <setEntry value="de.regasus.app.main.feature:default"/>
        <setEntry value="de.regasus.jre.feature:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="javax.activation*1.2.2.v20221112-0806@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="org.apache.batik.constants@default:default"/>
        <setEntry value="org.apache.batik.css@default:default"/>
        <setEntry value="org.apache.batik.i18n@default:default"/>
        <setEntry value="org.apache.batik.util@default:default"/>
        <setEntry value="org.apache.commons.commons-io@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.scr@2:true"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.macosx@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.debug.core@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt.cocoa@default:false"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.event@2:true"/>
        <setEntry value="org.eclipse.equinox.launcher.cocoa.macosx.aarch64@default:false"/>
        <setEntry value="org.eclipse.equinox.launcher.cocoa.macosx@default:false"/>
        <setEntry value="org.eclipse.equinox.launcher@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.region@default:false"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.transforms.hook@default:false"/>
        <setEntry value="org.eclipse.equinox.weaving.hook@default:false"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.text@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi@1:true"/>
        <setEntry value="org.eclipse.swt.cocoa.macosx.aarch64@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.ui.cocoa@default:false"/>
        <setEntry value="org.eclipse.ui.console@default:default"/>
        <setEntry value="org.eclipse.ui.forms@default:default"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="ag.ion.noa@default:default"/>
        <setEntry value="com.Ostermiller.util@default:default"/>
        <setEntry value="com.auth0.jwt@default:default"/>
        <setEntry value="com.fasterxml.jackson@default:default"/>
        <setEntry value="com.google.zxing@default:default"/>
        <setEntry value="com.idautomation.pdf417@default:default"/>
        <setEntry value="com.idautomation.util@default:default"/>
        <setEntry value="com.lambdalogic.report@default:default"/>
        <setEntry value="com.lambdalogic.util.rcp@default:default"/>
        <setEntry value="com.lambdalogic.util@default:default"/>
        <setEntry value="com.sferyx@default:default"/>
        <setEntry value="de.regasus.app.main@default:default"/>
        <setEntry value="de.regasus.auth.intf@default:default"/>
        <setEntry value="de.regasus.core.error@default:default"/>
        <setEntry value="de.regasus.core.model@default:default"/>
        <setEntry value="de.regasus.core.ui@default:default"/>
        <setEntry value="de.regasus.ejb.intf@default:default"/>
        <setEntry value="de.regasus.entity@default:default"/>
        <setEntry value="de.regasus.finance.export.ui@default:default"/>
        <setEntry value="de.regasus.impex.ui@default:default"/>
        <setEntry value="de.regasus.model@default:default"/>
        <setEntry value="de.regasus.onlineform.admin.ui@default:default"/>
        <setEntry value="de.regasus.report.model@default:default"/>
        <setEntry value="de.regasus.report.ui@default:default"/>
        <setEntry value="de.regasus.report.wizard@default:default"/>
        <setEntry value="de.regasus.ui@default:default"/>
        <setEntry value="de.regasus.users.ui@default:default"/>
        <setEntry value="jakarta.activation@default:default"/>
        <setEntry value="jakarta.xml@default:default"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="org.apache.commons.beanutils@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.email@default:default"/>
        <setEntry value="org.apache.commons.jexl@default:default"/>
        <setEntry value="org.apache.commons.lang@default:default"/>
        <setEntry value="org.apache.httpclient@default:default"/>
        <setEntry value="org.apache.pdfbox@default:default"/>
        <setEntry value="org.codehaus.groovy@default:default"/>
        <setEntry value="org.eclipse.jface.nl1@default:false"/>
        <setEntry value="org.eclipse.swt.nebula@default:default"/>
        <setEntry value="org.eclipse.swt.nl1@default:false"/>
        <setEntry value="org.eclipse.ui.workbench.nl1@default:false"/>
        <setEntry value="org.jboss@default:default"/>
        <setEntry value="org.jdom@default:default"/>
        <setEntry value="org.json.simple@default:default"/>
        <setEntry value="org.openoffice@default:default"/>
        <setEntry value="org.postgresql.jdbc@default:default"/>
        <setEntry value="org.slf4j@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
